* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
.section-heading {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 50px;
}
.pink-heading {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-desc {
  color: #534c64;
  font-size: 1.2rem;
  line-height: 30px;
}
/* navbar section */
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 180px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-item {
  display: flex;
  gap: 20px;
}
.nav-item li {
  list-style: none;
}
.nav-item a {
  text-decoration: none;
}
.name {
  font-size: 2.8rem;
  font-weight: 700;
}
.name span {
  color: #ff42a5;
}
.nav-item li a {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-btn {
  display: flex;
  gap: 10px;
  padding: 16px 24px;
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
  background: rgba(11, 2, 35, 0.1);
  border: none;
  border-radius: 8px;
}
/* navbar section end */

/* banner section */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 180px;
}
.banner-left {
  background-image: url(/images/bannerbg.png);
  background-position: center;
}
.banner-play {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-goat {
  font-size: 5.5rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-desc {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #534c64;
  margin-bottom: 15px;
}
.banner-btn {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.pink-btn {
  padding: 1.2rem 2.4rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 46px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.blue-btn {
  background: #4ec5f7;
}
/* banner section end */

/* online games section */
.online-games-container {
  margin: 20px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online-games {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}
.game-img {
  max-width: 290px;
  max-height: 350px;
}
.game-desc {
  color: #534c64;
  font-size: 1.1rem;
  line-height: 30px;
}

/* online games section end */

/* responsive styles for mobile */
@media screen and (max-width: 576px) {
  .nav-container,
  .nav-left,
  .nav-right,
  .nav-item,
  .online-games {
    flex-direction: column;
  }
  .nav-container {
    padding-top: 50px;
  }
  .nav-right,
  .online-games-container {
    margin-top: 30px;
  }
  .nav-btn {
    width: max-content;
    margin-bottom: 40px;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .banner-right img {
    max-width: 380px;
  }
  .banner-play {
    width: max-content;
  }
  .banner-left {
    padding: 20px;
  }
  .section-heading,
  .section-desc {
    width: 400px;
    text-align: center;
  }
}
/* responsive styles for mobile end */

/* responsive styles for tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px 30px;
  }
  .banner-container,
  .online-games-container {
    margin: 20px 30px;
  }
  .banner-right img {
    max-width: 380px;
  }
  .online-games {
    flex-wrap: wrap;
    margin: auto;
    padding-top: 20px;
  }
}
/* responsive styles for tablet end */
